.titles {
  font-family: 'Poppins', sans-serif;
  color: red;
  background-color: black;
  text-align: center;
}

.bcg {
    background:transparent center no-repeat;
    background-size:cover;
    height:80vh;
}

.skrollr .bcg {
    /*background:transparent !important;*/
}
